   /*Style de la page*/
   
   @media all and (min-width: 768px) and (max-width: 979px){

   		 body{
				        	margin: 0;
				        	padding: 0;
				        	background: url("images/im2.jpg") no-repeat center fixed;
				        	-webkit-background-size: cover; /* permet de voir le même fond d'écran même quand on zoom*/
				 			 background-size: cover; /* permet de voir le même fond d'écran même quand on zoom */
				 			 color: #015291;
				 			 position: relative;
				        	
							}
							/*Conteneur du formulaire*/
							.content_formulaire{
								width:555px;
								background-color: #eee;
								position: absolute;
								margin: auto;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								opacity:0.7;
								
								
								}
							
								/*style du titre du formulaire d'inscription*/
								.titre_formulaire{
									background-color: white;
									height: 35px;
									text-align: center; /*centrage horizontal du titre*/
									line-height: 35px; /*centrage vertical du titre*/
								}
								/*contenu du formualire*/
								.formulaire_a_remplir{
									/*border-right: 1px solid white;*/
									/*display: inline-block;*/
									margin:10px;
									padding: 10px;
								}
								
								
										.button-secondary {
            				color: white;
            				border-radius: 4px;
            				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            				background: #015291; 
        								}
        				.button-secondary:hover {
            				color: white;
            				border-radius: 4px;
            				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            				background: #015291; 
            				opacity: 0.8;
        								}

        				 .button-xsmall {
				            font-size: 70%;
				        }

				        .button-small {
				            font-size: 85%;
				        }

				        .button-large {
				            font-size: 110%;
				        }

				        .button-xlarge {
				            font-size: 125%;
				        }
				        .lien_utile{
				        	margin: auto 80px auto auto;
				        }

				         .lien_utile td{
				        	padding: 20px;
				        	
				        }
				         .lien_utile  td  a {
				        	color:#eee;
				        	text-decoration: none;
				        }

				        a{
				        	text-decoration: none;
				        	

				        }
				        a:hover{
									text-decoration: underline;
								}
   }
   @media all and (min-width: 980px) and (max-width: 1199px){
   	 body{
				        	margin: 0;
				        	padding: 0;
				        	background: url("images/im2.jpg") no-repeat center fixed;
				        	-webkit-background-size: cover; /* permet de voir le même fond d'écran même quand on zoom*/
				 			 background-size: cover; /* permet de voir le même fond d'écran même quand on zoom */
				 			 color: #015291;
				 			 position: relative;
				        	
							}
							/*Conteneur du formulaire*/
							.content_formulaire{
								width:555px;
								background-color: #eee;
								position: absolute;
								margin: auto;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								opacity:0.7;
								}
								/*style du titre du formulaire d'inscription*/
								.titre_formulaire{
									background-color: white;
									height: 35px;
									text-align: center; /*centrage horizontal du titre*/
									line-height: 35px; /*centrage vertical du titre*/
								}
								/*contenu du formualire*/
								.formulaire_a_remplir{
									/*border-right: 1px solid white;*/
									/*display: inline-block;*/
									margin:10px;
									padding: 10px;
								}
								

										.button-secondary {
            				color: white;
            				border-radius: 4px;
            				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            				background: #015291; 
        								}
        				.button-secondary:hover {
            				color: white;
            				border-radius: 4px;
            				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            				background: #015291; 
            				opacity: 0.8;
        								}

        				 .button-xsmall {
				            font-size: 70%;
				        }

				        .button-small {
				            font-size: 85%;
				        }

				        .button-large {
				            font-size: 110%;
				        }

				        .button-xlarge {
				            font-size: 125%;
				        }
				      
   }
   @media all and (min-width: 1200px) {

   				       	 body{
				        	margin: 0;
				        	padding: 0;
				        	background: url("images/im2.jpg") no-repeat center fixed;
				        	-webkit-background-size: cover; /* permet de voir le même fond d'écran même quand on zoom*/
				 			 background-size: cover; /* permet de voir le même fond d'écran même quand on zoom */
				 			 color: #015291;
				 			 position: relative;
				        	
							}
							/*Conteneur du formulaire*/
							.content_formulaire{
								width:555px;
								background-color: #eee;
								position: absolute;
								margin: auto;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								opacity:0.7;
								
								
								}
							
								/*style du titre du formulaire d'inscription*/
								.titre_formulaire{
									background-color: white;
									height: 35px;
									text-align: center; /*centrage horizontal du titre*/
									line-height: 35px; /*centrage vertical du titre*/
								}
								/*contenu du formualire*/
								.formulaire_a_remplir{
									/*border-right: 1px solid white;*/
									/*display: inline-block;*/
									margin:10px;
									padding: 10px;
								}
								


   }
	